<div class="paperclipPhotos">
	
	<%= file_field_tag 'item[photos_attributes][][image]', :multiple =>  true%>
	<%= file_field_tag 'item[photos_attributes][][image]', :multiple =>  true%>
	<%= file_field_tag 'item[photos_attributes][][image]', :multiple =>  true%>
	
</div>