<h1> List your item </h1>
<br>

<ul class> <h2>1. Select a category</h2><br>
	<br>
<% @categories.each do |category| %>
<li class='category' id=''> 
	<img src="<%= category.image_url %>" style="position: relative top: 50%; height: auto; width: 100px;">
	<br>
	<%= category.name %> 
</li>

<% end %>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ul><br><h2>2. Select a picture</h2>
	
	




	<div class="field">

	</div>
	
</ul>

