/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap_and_overrides
 *= require jquery.ui.button
 *= require jquery.fileupload-ui
 *= require_tree .
 */
* {
	
	box-sizing: border-box
}
.category {
	
	display: inline-block;
	width: 20%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;

}

.outlined {
	border:1px solid green;
	border-color: #071522;
	
	
}

.index-item {
	display: inline-block;
	text-align: left;
	width: 20%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;
	
}

.form-field {
	display: inline-block;
	width: 30%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;
	float: left;
	
}

.all-forms {
	width: 60%;
	float: none;
	
}

.delivery-info h1 {
	text-align:center;
	color: #071522;
	font-size: 1.5em;
	
}
.navBar {background: #9F81F7; }

.hidden { 
	visibility: hidden;
	display: none;
}

.primary-photo {
	width: 40%;
	float: left;
	
}

.extra-photo {
	width: 10%;
	
}

.icon {
	width: 25px;
	height: 25px;
}

.centered {
	text-align: center;
/*	display: inline-block;*/
	float:none;
	margin:0 auto;
	
}


.box-size {
	text-align: center;
	
}

.footer {

	
}

.item-user-info {
	width: 75%;
	
}

.faves {
	width: 20%;
	
}

.searchbar {
  *z-index: 2;
  height: 40px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: gray;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}

.search-icon {
	height: 20px;
}

.searchbar-inner ul {
	display: inline-block;
	font-color: black;
	font-weight: bold;
}

.searchbar-inner ul a {
	color: black;
	font-weight: bold;
}

.searchbar-inner li {
	display: inline-block;
	
}

.price .btn {
	height: 30px;
	
}
