/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.button
 *= require jquery.fileupload-ui
 *= require_tree .
 */

.category {
	
	display: inline-block;
	width: 20%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;

}

.outlined {
	border:1px solid green;
	
}

.index-item {
	display: inline-block;
	width: 20%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;
	
}

.form-field {
	display: inline-block;
	width: 30%;
	height: 20%;
	margin: 10px;
	box-sizing: border-box;
	
}

.all-forms {
	width: 60%;
	
}

.delivery-info h1 {
	text-align:center;
	color: purple;
	font-size: 1.5em;
	
}