<div class="container-fluid centered log-in-form full-transparency">
	<div class="row-fluid">
		
		<!-- Form Name -->
		<h2>Edit your Account</h2><br>
		
		<!-- File Button --> 
		
		<div class="">
			<div class='centered' id="add_photo_div">
				<% unless @user.profile_pic.nil? %>
					<img src="<%= @user.profile_pic.url %>" alt="profile pic">
				<% end %>
			</div>
			<form id="add_a_photo_form" 
			      action="/photos"
			      enctype="multipart/form-data" 
			      method="POST">
			  <input name="authenticity_token" 
			          type="hidden"
			          value="$('meta[name="csrf-token"]').attr('content')" />
			  <input type='file' name="photo[image]" id="add_a_file" STYLE="opacity: 0">
	
			</form>
			<a href='#' class='centered' id="click_to_add_file">Upload Profile Pic</a>
			
		  </div>
		</div><br>
		
		
		<form method="post" action="<%= account_url %>" class="form-horizontal">
			<input type="hidden" value="put" name="_method">
			<input type="hidden" value="form_authenticity_token" name="authenticity_token">

		<!-- Name input-->
		<div class="">
		  <label class="">Name:</label><br>
		  <div class="">
		    <input id="name" value="<%= @user.name %>" name="user[name]" type="text" >
		  </div>
		</div><br>
		

		<!-- Email input-->
		<div class="">
		  <label class="">Email:</label><br>
		  <div class="">
		    <input id="email" value="<%= @user.email %>" name="user[email]" type="text" >
			<div id="div_photo_ids"></div>
			<input type="hidden" id="profile_pic" name="photo[id]" value="">
			
		  </div>
		</div><br>


		<!-- Button -->
		<div class="">
		  <label class=""></label>
		  <div class="">
		    <input type="submit" class="btn btn-primary" value="Make Change">
		  </div>
		</div>
		
		</form>
	</div>
</div>

<style>

h2 {
	
	text-align:center;
}
</style>

<script>
	
    $('#click_to_add_file').click(function(){
       $('#add_a_file').click();
     })
     $(function(){
       $('input:file').on('change',function(event){
         console.log($(this.form));
         var that = this
         $(this.form).ajaxSubmit({
           beforeSubmit: function(arr,$form,options){
             options.dataType = "json"
           },
           complete: function(XMLHttpRequest, textStatus){
             if(textStatus === "success"){
               photo = XMLHttpRequest.responseJSON
			   console.log(photo)
               var photoTemplateFn = JST['uploaded_photo']
               var photoTemplate = photoTemplateFn({photo: photo})
               $('#add_photo_div').html(photoTemplate)
			   console.log(photo.id)
               $("#profile_pic").attr('value', photo.id);
             }
           }
         })
       })
   })
   </script>
</script>
	